@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --title-color: rgb(0, 47, 68);
    --bg-color:  rgb(107, 208, 255);
    --text-color:  rgb(0, 16, 51);
    --header-color1: rgb(8, 18, 201);
    --header-color2: rgb(79, 231, 251);
    --nav-color: rgb(0, 10, 206);

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--bg-color);
    font-family: var(--fonte-padrao);
}

/* HEADER*/
header{
    background-image: linear-gradient(to bottom, var(--header-color2), var(--header-color1));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.538);
    
}
header p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px ;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.538);
    
}
/*NAV*/
nav{
    background-color: var(--nav-color);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.538);

}
nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
nav a:hover{
    background-color: var(--header-color2);
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    color: black;
}

/* MAIN*/
main{
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439);

    max-width: 800px;
    min-height: 255px;
    margin: auto;
    

}
main h1{
    color: var(--title-color);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: var(--title-color);
    background-image: linear-gradient(to right, var(--header-color2), transparent);
    padding-left: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 320px;
    display: block;
    margin: auto;
}
main iframe{
    width: 100%;
}
main a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: var(--header-color2);
}
main a:hover{
    text-decoration: underline;
    color: var(--nav-color);
}
main strong{
    color: var(--text-color);
    font-weight: bold;
}
/*ASIDE*/
aside{
    background-color: var(--bg-color);
    border-radius: 10px;
    
    
    
}
aside h3{
    background-color: var(--header-color1);
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
}
aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
    margin: 10px;
}
aside p{
    margin: 10px;
}
/*FOOTER*/
footer{
    background-color: var(--nav-color);
    color: white;
    margin-top: 10px;
}
footer a{
    color: white;
}
